<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhaoyy.integration.mapper.FocusMapper">


    <insert id="insertGetId" useGeneratedKeys="true" keyProperty="id">
        insert into focus (user_id, focused_id, deleted)
        VALUES (#{userId},#{focusedId},#{deleted})
    </insert>

</mapper>
