<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhaoyy.integration.mapper.FocusMapper">


    <insert id="insertGetId" useGeneratedKeys="true" keyProperty="id">
        insert into focus (user_id, focused_id, deleted, version)
        VALUES (#{userId}, #{focusedId}, #{deleted}, #{verson})
    </insert>

    <select id="listFocus" resultType="zhaoyy.integration.dto.FocusDTO">
        select f.user_id,
               u.user_name as userName,
               r.role_name as roleName,
               u.user_college as userCollege,
               f.focused_id,
               f.deleted
        from focus f
                 left join user u on f.user_id = u.id
                 left join role r on r.role_id = u.user_role
        where f.id != 0
        order by u.id
    </select>

</mapper>
